name: test-workflow

on: 
 push: 
 workflow_dispatch: 

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
    - name: welcome message
      run: echo "welcome to Github Actions"

    - uses: actions/checkout@v3

    - name: list the files
      run: ls -la

    - name: read the files

      run: cat .github/workflows/test.yml
